Repository OpenDTU-App/opendtu-react-native, changes with the labels that .github/labeler.yml gives for each.
All labels: Dependencies, Unit-Tests, Translations

.github/labeler.yml:

# GitHub Labeler Configuration
# Documentation:
#   - changed-files:
#       - any-glob-to-any-file: docs/**

#feature:
#  - head-branch: ['^feature', 'feature']

#bug:
#  - head-branch: ['^bug', 'bug']

#bugfix:
#  - head-branch: ['^bug', 'bug']

Dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'yarn.lock', 'patches/**']

Unit-Tests:
  - changed-files:
      - any-glob-to-any-file: ['__tests__/**', '__mocks__/**']

Translations:
  - changed-files:
      - any-glob-to-any-file: 'src/translations/**'

Hide certain items when certain wifi states are happening
  src/views/navigation/screens/InformationGroup/NetworkInformationScreen.tsx
Labels: none

Update podfile
  ios/Podfile.lock
Labels: none

Improve logging
  src/hooks/useEnhancedLog.ts
Labels: none

Undo what dependabot did to fix rn-cli
  .github/dependabot.yml
  package.json
  yarn.lock
Labels: Dependencies

Fix bug where 401 error from disabled read-only caused the "Not a instance" error
  src/api/opendtuapi.ts
  src/types/opendtu/state.ts
  src/views/navigation/screens/SetupGroup/SetupAddOpenDTUScreen.tsx
  src/views/navigation/screens/SetupGroup/SetupAuthenticateOpenDTUInstanceScreen.tsx
Labels: none

Fixed errors by using authstring also for system status
  src/api/opendtuapi.ts
Labels: none

Remove non-ARM abis to see how it affects pipeline speed
  android/app/build.gradle
Labels: none

Release notes should be draft for manual review
  .github/workflows/release.yml
Labels: none

Test how much difference only re-adding x86_64 makes
  android/app/build.gradle
Labels: none

Fix podfile
  ios/Podfile.lock
Labels: none

Sync refresh actions to pull-down
  src/views/navigation/screens/InverterGroup/InverterGridProfileScreen.tsx
  src/views/navigation/screens/InverterGroup/InverterInfoScreen.tsx
Labels: none

Add infos for feedback and bug reporting
  src/components/AppInfos.tsx
  src/constants.ts
  src/slices/settings.ts
  src/types/settings.ts
  src/views/navigation/tabs/LivedataTab.tsx
  src/views/navigation/tabs/MainSettingsTab.tsx
Labels: none

Bump version to v0.7.0
  android/app/build.gradle
  ios/opendtureactnative.xcodeproj/project.pbxproj
  ios/opendtureactnative/Info.plist
  ios/opendtureactnativeTests/Info.plist
  package.json
Labels: Dependencies

Fix boolean modals
  src/components/BaseModal.tsx
  src/components/modals/ChangeBooleanValueModal.tsx
  src/components/modals/ChangeThemeModal.tsx
Labels: none

Do not auto-upgrade expo
  .github/dependabot.yml
  ios/Podfile.lock
  licenses.json
  package.json
  yarn.lock
Labels: Dependencies

Bump production-dependencies-bff3f5c74c cocoapods packages
  ios/Podfile.lock
Labels: none

Update files
  ios/Podfile.lock
  licenses.json
Labels: none

Update patches
  patches/react-native-paper+5.14.5.patch
  patches/react-native-paper-dates+0.22.28.patch
Labels: Dependencies

Bump production-dependencies-12fbb6627e cocoapods packages
  ios/Podfile.lock
Labels: none

Re-add patch
  patches/react-native-paper-dates+0.22.47.patch
Labels: Dependencies

Comply with googles bullshit
  android/build.gradle
Labels: none

Bump version to v0.8.0
  android/app/build.gradle
  ios/opendtureactnative.xcodeproj/project.pbxproj
  ios/opendtureactnative/Info.plist
  ios/opendtureactnativeTests/Info.plist
  package.json
Labels: Dependencies

Apply diff from upgrade helper to upgrade to 0.80.1
  .gitignore
  .prettierrc.js
  Gemfile
  __tests__/App.test.tsx
  android/app/build.gradle
  android/app/src/main/java/xyz/commanderred/opendtuapp/MainApplication.kt
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  ios/Podfile
  ios/Podfile.lock
  ios/opendtureactnative/AppDelegate.h
  ios/opendtureactnative/AppDelegate.mm
  ios/opendtureactnative/AppDelegate.swift
  ios/opendtureactnative/Info.plist
  ios/opendtureactnative/main.m
  ios/opendtureactnativeTests/Info.plist
  ios/opendtureactnativeTests/opendtureactnativeTests.m
  licenses.json
  metro.config.js
  package.json
  patches/react-native+0.76.5.patch
  tsconfig.json
  yarn.lock
Labels: Dependencies, Unit-Tests

Unfuck xcode config
  ios/Podfile.lock
  ios/opendtureactnative.xcodeproj/project.pbxproj
  licenses.json
  package.json
  yarn.lock
Labels: Dependencies

Use common name
  android/app/src/main/java/xyz/commanderred/opendtuapp/MainActivity.kt
  android/settings.gradle
  app.json
Labels: none

WIP unfuck the app
  Gemfile.lock
  android/build.gradle
  ios/Podfile.lock
  ios/opendtureactnative.xcodeproj/project.pbxproj
  licenses.json
  package.json
  yarn.lock
Labels: Dependencies

Rebuild yarn.lock
  ios/Podfile.lock
  licenses.json
  yarn.lock
Labels: Dependencies

Unified naming
  android/app/src/main/java/xyz/commanderred/opendtuapp/MainActivity.kt
  android/settings.gradle
  app.json
Labels: none

Revert "Rebuild yarn.lock"
  ios/Podfile.lock
  licenses.json
  yarn.lock
Labels: Dependencies

Try to upgrade to 0.77.0
  Gemfile
  Gemfile.lock
  android/build.gradle
  ios/Podfile
  ios/Podfile.lock
  ios/opendtureactnative.xcodeproj/project.pbxproj
  ios/opendtureactnative/AppDelegate.h
  ios/opendtureactnative/AppDelegate.mm
  ios/opendtureactnative/AppDelegate.swift
  ios/opendtureactnative/main.m
  ios/opendtureactnativeTests/Info.plist
  ios/opendtureactnativeTests/opendtureactnativeTests.m
  licenses.json
  metro.config.js
  package.json
  yarn.lock
Labels: Dependencies

Finally fix building
  ios/Podfile.lock
  ios/opendtureactnative.xcodeproj/project.pbxproj
  licenses.json
  package.json
  yarn.lock
Labels: Dependencies

Now it works on android and ios
  android/gradle.properties
  ios/Podfile.lock
  ios/opendtureactnative.xcodeproj/project.pbxproj
  ios/opendtureactnative/AppDelegate.swift
  licenses.json
  package.json
  yarn.lock
Labels: Dependencies

Perform the upgrade to 0.79.0
  .gitignore
  Gemfile
  Gemfile.lock
  android/app/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  ios/Podfile.lock
  ios/opendtureactnative/AppDelegate.swift
  licenses.json
  package.json
  yarn.lock
Labels: Dependencies

Make everything compile and work
  ios/Podfile.lock
  licenses.json
  package.json
  yarn.lock
Labels: Dependencies

Fix patch
  patches/react-native+0.76.5.patch
  patches/react-native+0.79.0.patch
Labels: Dependencies

Fix typescript types
  src/hooks/useRequireMultiplePresses.ts
Labels: none

Remove unused testing framework
  __mocks__/@octokit/rest.js
  __mocks__/@pchmn/expo-material3-theme.js
  __mocks__/@react-native-async-storage/async-storage.js
  __mocks__/@react-native-clipboard/clipboard.js
  __mocks__/@react-native-community/netinfo.js
  __mocks__/react-native-config.js
  __mocks__/react-native-fs.js
  __mocks__/react-native-localize.js
  __mocks__/react-native-safe-area-context.js
  __mocks__/react-native-share.js
  __mocks__/react-native-toast-message.js
  __mocks__/react-native.js
  __tests__/App.test.tsx
  jest.config.js
  jest.setup.js
  package.json
  tsconfig.json
  yarn.lock
Labels: Dependencies, Unit-Tests
